{% extends 'favsapp/base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
        <div class="col-md-10 col-xs-10 col-sm-10">
            <h3 class="round3" style="text-align:center;">Data</h3>
        </div>
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-md-10 col-xs-10 col-sm-10"></div>
        <div class="col-md-2 col-xs-1 col-sm-1">
            <br />
            <a href="{% url 'create' %}">Add
                <button type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </a>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-1 col-xs-1 col-sm-1">
            <table class="table table-striped table-bordered table-dark">
                <thead class="thead-dark">
                <th>Name</th><th>Color</th><th>Cats/Dogs</th>
                </thead>
                {% for contact in data_list %}
                <tr>
                    <td>
                        {{ contact.firstName }}
                    </td>
                    <td>
                        {{ contact.favColor }}
                    </td>
                    <td>
                        {{ contact.catsOrDogs }}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>





</div>
{% endblock %}